
@{
    ViewData["Title"] = "ReceptionOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kitchen</title>
    <link rel = "stylesheet" href ="~/css/Kitchen.css" />
</head>
<body>
    <div id="Kitchen-Wrapper">
        <div id= "KitchenTime">
            <h3>Date:</h3>
            <h3>Datetime.Now</h3>
        </div>
        <button>Refresh</button>
        <table class="table-bordered">
            <tr>
                <th></th>
                <th>Total Guest Expected</th>
                <th>Not Checked in</th>
                <th>Checked in</th>
            </tr>
            <tr>
                <th>Adults</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <th>Children</th>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>

        </table>

    </div>

</body>
</html>