@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Morgenmadsbuffeten!</h1>
        <p class="text-info">Login as staff to edit the page</p>
        <p class="text-info">Login as user to see kitchen</p>
    </div>
