
@{
    ViewData["Title"] = "ReceptionExpected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reception.css" />
</head>
<body>

    <div id="reception-wrapper">
        <h3>Expected number of guests:</h3>
        <form id="inputForm">
            <input type="text" />
            <input type="submit"/>
        </form>
    </div>

</body>
</html>

