
@{
    ViewData["Title"] = "ReceptionOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reception.css" />
</head>
<body>
    <div class="overviewClass">
        <table class="table-bordered">
            <thead>

                <tr>
                    <th>Room number</th>
                    <th>Number of adults</th>
                    <th>Number of children</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>69</td>
                    <td>420</td>
                    <td>42069</td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>

